body {  
    background-color: #232424;
    color: white;
    font-family: 'JetBrains mono', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

h1 {

    font-weight: 3000;
    text-transform: uppercase;
    color: green;
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

#clock {
    font-family: 'Orbitron', sans-serif;
    color: green;
    font-size: 3rem;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

