body {  
    background-color: #232424;
    color: white;
    font-family: 'JetBrains mono', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

h1 {
    color: green;
    font-size: 5rem;
    text-align: center;
    margin-bottom: 5rem;
}

h2 {
    color: green;
    font-size: 3rem;
    text-align: center;
}

input {
    width: 20%;
    height: 3rem;
    background-color: white;
    text-align: center;
}

#submitInput:hover {
    background-color: green;
    color: white;
}

#clock {
    font-family: 'JetBrains mono', sans-serif;
    color: green;
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
}


